force-app/main/default/flows/Validate_Speaker_Availability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Speaker_Double_Booking_Error</name>
        <label>Speaker Double Booking Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Conflicting_Sessions</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>The selected Speaker is already assigned to another Session during the selected time. Please choose a different Speaker or modify the Session schedule.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Speaker_Not_Available</name>
        <label>Speaker Not Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>The selected Speaker is not available. Please choose a speaker whose Speaker Availability is set to &quot;Available&quot;.</errorMessage>
            <fieldSelection>Speaker__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Speaker_Availability</name>
        <label>Check Speaker Availability</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Speaker_Not_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Speaker_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Speaker.Speaker_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conflicting_Sessions</targetReference>
            </connector>
            <label>Speaker Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Time_Conflict</name>
        <label>Check Time Conflict</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Conflicting_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Overlap_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Conflicting_Sessions.Start_Date_Time__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.End_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Conflicting_Sessions.Start_Date_Time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Start_Date_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Speaker_Double_Booking_Error</targetReference>
            </connector>
            <label>Time Overlap Found</label>
        </rules>
    </decisions>
    <description>Validates the selected speaker&apos;s availability before allowing a Session record to be created or updated. Prevents assignment when the Speaker Availability is not &apos;Available&apos;.</description>
    <environments>Default</environments>
    <interviewLabel>Validate Speaker Availability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Speaker Availability</label>
    <loops>
        <name>Loop_Through_Conflicting_Sessions</name>
        <label>Loop Through Conflicting Sessions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Conflicting_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Time_Conflict</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conflicting_Sessions</name>
        <label>Get Conflicting Sessions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Conflicting_Sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Speaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Speaker__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventSphere_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Speaker</name>
        <label>Get Speaker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Speaker_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Speaker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EventSphere_Speaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Speaker</targetReference>
        </connector>
        <object>EventSphere_Session__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
